[submodule "themes/maupassant"]
	path = themes/maupassant
	url = git@github.com:tufu9441/maupassant-hexo.git
[submodule "themes/even"]
	path = themes/even
	url = git@github.com:sahil87/hexo-theme-even.git
