[submodule "hexo/themes/maupassant"]
	path = hexo/themes/maupassant
	url = git@github.com:tufu9441/maupassant-hexo.git
[submodule "hexo/themes/even"]
	path = hexo/themes/even
	url = git@github.com:sahil87/hexo-theme-even.git
